
<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Listing Projects</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <%= link_to 'New Project', new_project_path , class: "btn btn-lg btn-success" %></p>
</div>

<div class="row marketing">
  <% @projects.each do |project| %>
  <div class="col-lg-6">
    <h4><%= project.name %></h4>
    <p><%= project.description %></p>
    <%= link_to 'Show', project ,class: "btn"%>
    <%= link_to 'Edit', edit_project_path(project) ,class: "btn"%>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },class: "btn" %>
  </div>
  <% end %>

